{
  "ignore": [
    "node_modules/",
    "rethinkdb_data/"
  ],
  "plugins": [
    "transform-runtime",
    "transform-object-rest-spread"
  ],
  "presets": [
    "es2015",
    "es2016",
    "es2017",
    "vue"
  ]
}
