{
  "extends": "eslint:recommended",
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "rules": {
    "no-console": "off",
    "no-debugger": "off"
  },
  "parserOptions": {
    "sourceType": "module"
  }
}
